body{
    background: #f2f1f6;
}
.wrapper{
    border: 1px solid red;
    width: clamp(0px, 100%, 1200px);
    min-height: 100vh;
    margin: 0 auto;
    padding: 15px;
}

.weather-now{
    /* width: clamp(486px, 100%, 773px); */
    flex: 2;
    height: 400px;
    background: #2a364e;
    margin: 0 15px 15px 0;
    padding: 20px;
    color: #fff;
}
.city-info{
    /* width: 100%; */
    flex: 1;
    height: 400px;
    background: #c9f0fa;
    margin: 0 0 15px 0;
}
.weather-prognoz{
    height: 300px;
    background: #fff;
}